@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Movie in Model)
            {
                <tr>
                    <td>

                        @Html.ActionLink(Movie.Name, "Details", new { id = Movie.Id }, null)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <text>No Movies yet.</text>
}

